| 
| [backend]
| precision = #{backend.precision}
| rank-allocator = #{backend.rank_allocator}
| 

if backend['CUDA']
    | 
    | [backend-cuda]
    | device-id = #{backend['CUDA'].device_id}
    | 
    
if backend['Open-CL']
    | 
    | [backend-opencl]
    | platform-id = #{backend['Open-CL'].platform_id}
    | device-type = #{backend['Open-CL'].device}
    | device-id = #{backend['Open-CL'].device_id}
    | 
    
if backend['Open-MP']
    | 
    | [backend-openmp]
    | cc = #{backend['Open-MP'].cc}
    | cflags = #{backend['Open-MP'].cflags}
    | cblas = #{backend['Open-MP'].cblas}
    | cblas-type = #{backend['Open-MP'].cblas_type}
    | 

| 
| [constants]
| 
if constants.gamma
    | gamma = #{constants.gamma}
    | 
if constants.mu
    | mu = #{constants.mu}
    | 
if constants.pr
    | pr = #{constants.pr}
    | 
if constants.cpTref
    | cpTref = #{constants.cpTref}
    | 
if constants.cpTs 
    | cpTs = #{constants.cpTs}
    | 

| 
| [solver]
| system = #{solver.system}
| order = #{solver.order}
| anti-alias = #{solver.anti_alias}
| viscosity-correction = #{solver.viscosity_correction}
| shock-capturing = #{solver.shock_capturing}
| 

if solver.ti && Object.keys(solver.ti).length > 0
    | 
    | [solver-time-integrator]
    | scheme = #{solver.ti.scheme}
    | tstart = #{solver.ti.tstart}
    | tend = #{solver.ti.tend}
    | dt = #{solver.ti.dt}
    | controller = #{solver.ti.controller}
    | 
    if solver.ti.controller === 'pi'
        | atol = #{solver.ti.atol}
        | rtol = #{solver.ti.rtol}
        | safety-fact = #{solver.ti.safety_fact}
        | min_fact= #{solver.ti.min_fact}
        | max-fact = #{solver.ti.max_fact}
        | 

if solver.av && Object.keys(solver.av).length > 0 
    | 
    | [solver-artificial-viscosity]
    | max_amu = #{solver.av.max_amu}
    | s0 = #{solver.av.s0}
    | kappa = #{solver.av.kappa}
    | 

if solver.source_terms && Object.keys(solver.source_terms).length > 0 
    | 
    | [solver-source-terms]
    | rho = #{solver.source_terms.rho}
    | rhou = #{solver.source_terms.rhou}
    | rhov = #{solver.source_terms.rhov}
    | rhw = #{solver.source_terms.rhow}
    | E = #{solver.source_terms.E}
    | 

if solver.interfaces && Object.keys(solver.interfaces).length > 0
    | 
    | [solver-interfaces] 
    | riemann-solver = #{solver.interfaces.riemann}
    | ldg-beta = #{solver.interfaces.ldg_beta}
    | ldg-tau = #{solver.interfaces.ldg_tau}
    | 

if solver_interfaces && Object.keys(solver_interfaces).length > 0 
    | 
    | [#{solver_interfaces.type}]
    | flux-pts = #{solver_interfaces.flux_pts}
    | quad-deg = #{solver_interfaces.quad_deg}
    | quad-pts = #{solver_interfaces.quad_pts}
    | 
    
if solver_elements
    each el in solver_elements
        | 
        | [#{el.type}]
        | soln-pts = #{el.soln_pts}
        | quad-deg = #{el.quad_deg}
        | quad-pts = #{el.quad_pts}
        | 

if solution.filter && Object.keys(solution.filter).length > 0 
    | 
    | [soln-filter]
    | nsteps = #{solution.filter.nsteps}
    | alpha = #{solution.filter.alpha}
    | order = #{solution.filter.order}
    | cutoff = #{solution.filter.cutoff}
    | 
    
if solution.plugin_writer 
    | 
    | [soln-plugin-writer]
    | dt-out = #{solution.plugin_writer.dt_out}
    | basedir = #{solution.plugin_writer.basedir}
    | basename = #{solution.plugin_writer.basename}
    | 
    
if solution.plugin_nan_check 
    | 
    | [soln-plugin-nancheck]
    | nsteps = #{solution.plugin_nancheck.nsteps}
    | 
    
if solution.plugin_residual
    | 
    | [soln-plugin-sampler]
    | nsteps = #{solution.plugin_sampler.nsteps}
    | samp-pts = #{solution.plugin_sampler.samp_pts}
    | format = #{solution.plugin_sampler.format}
    | file = #{solution.plugin_sampler.file}
    | header = #{solution.plugin_sampler.header}
    | 

if solution.plugin_time_average
    | 
    | [soln-plugin-tavg]
    | nsteps = #{solution.plugin_time_average.nsteps}
    | dt-out = #{solution.plugin_time_average.dt_out}
    | basedir = #{solution.plugin_time_average.basedir}
    | basename = #{solution.plugin_time_average.basename}
    | avg-name = #{solution.plugin_time_average.avg_name}
    | 
    
if solution.ics
    | 
    | [soln-ics]
    | rho = #{solution.ics.rho}
    | u = #{solution.ics.u}
    | v = #{solution.ics.v}
    | w = #{solution.ics.w}
    | p = #{solution.ics.p}
    | 
  
if solution_ff  
    each el in solution_ff
        | 
        | [soln-plugin-fluidforce-#{el.name}]
        | nsteps = #{el.nsteps}
        | file = #{el.file}
        | header = #{el.header}
        |  
    
if bcs 
    each el in bcs 
        | 
        | [soln-bcs-#{el.name}]
        | 
        each item in el.items 
            | #{item.name} = #{item.value}
            | 
